:root {
    --pink-color: #D87E98;
    /* pink */
    --dark-pink-color: #D76A81;
    /* dark pink */
    --light-pink-color: #FFC8C3;
    /* light pink */
    --accent-color: #FFD5C2;
    /* Geel */
    --background-color: #f8f9fa;
    /* Achtergrondkleur */
    --text-color: #000000;
    /* error */
    --error-color: #FF0000;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-pink-color);
}

.header-nav {
    padding: 20px 15px 20px 15px;
    background-color: var(--dark-pink-color);
    border-radius: 5px;
}

.header-link {
    color: var(--light-pink-color);
    text-decoration: none;
    margin-right: 10px;
    transition: .5s;
}

.header-link:hover {
    text-decoration: underline;
}

.afspraak-maken-btn {
    border: 1px solid var(--light-pink-color);
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: var(--dark-pink-color);
    text-decoration: none;
    color: var(--light-pink-color);
    transition: 1s;
}

.afspraak-maken-btn:hover {
    border: 1px solid var(--pink-color);
    background-color: var(--light-pink-color);
    color: var(--pink-color);
}

.main-footer {
    text-align: center;
    color: var(#000000);
    background-color: var(--pink-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}


.info-callender {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 800px;
    width: 250px;
}

.text-box {
    width: 200px;
}

.info-text {
    margin: 0px 0px 5px 10px;
}

.color-box {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.knippen {
    border: 1px solid #FFA7B6;
    background-color: #FFA7B6;
}

.Knippen {
    border: 1px solid #A5DAF0;
    background-color: #A5DAF0;
}

.Wassen-Knippen-Drogen {
    border: 1px solid #FF8FC7;
    background-color: #FF8FC7;
}

.wassen-knippen-drogen {
    border: 1px solid #8BB0F2;
    background-color: #8BB0F2;
}

.scheren {
    border: 1px solid #68A200;
    background-color: #68A200;
}

.trimmen {
    border: 1px solid #12836c;
    background-color: #12836c;
}

.kleuren {
    border: 1px solid #C83C00;
    background-color: #C83C00;
}

.Basis-kleuren {
    border: 1px solid #AE94E4;
    background-color: #AE94E4;
}

.kort-Haar-Kleuren {
    border: 1px solid #E14667;
    background-color: #E14667;
}

.Half-Lang-Haar-Kleuren {
    border: 1px solid #A81E3C;
    background-color: #A81E3C;
}

.lang-Haar-Kleuren {
    border: 1px solid #850B25;
    background-color: #850B25;
}

.Bruidskapsel {
    border: 1px solid #FF4FAE;
    background-color: #FF4FAE;
}

.hoofd-massage {
    border: 1px solid #FF9F4D;
    background-color: #FF9F4D;
}

.Hoofd-Massage {
    border: 1px solid #CD88FF;
    background-color: #CD88FF;
}

.permanent {
    border: 1px solid #C40E0E;
    background-color: #C40E0E;
}

.Krullen {
    border: 1px solid #B365D9;
    background-color: #B365D9;
}

.color-codes-info {
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
}


