body {
    font-family: sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main-nav {
    padding: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}

.main-footer {
    text-align: center;
    color: dimgray;
    background-color: darkgray;
}

.footer-content {
    display: flex;
    justify-content: center;
    height: 50px;
}

/* Grid container dashboard */
.dashboard-container {
    width: 1200px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.dashboard-sidebar {
    border: 1px solid green;
}

.dashboard-content {
    border: 1px solid blue;
}

/* Grid systeem dashboard content */

.container {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.planning-box {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.gegevens-box {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* klanten dashboard */

.klanten-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.klanten-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Afstand tussen de items aanpassen naar wens */
    margin-bottom: 20px; /* Verticale afstand tussen de rijen aanpassen naar wens */
}

.klanten-label {
    font-weight: bold;
}

/* afspraken css */
/* behandeling */

.afspraak-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* font */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


