:root {
    --pink-color: #D87E98;
    /* pink */
    --dark-pink-color: #D76A81;
    /* dark pink */
    --light-pink-color: #FFC8C3;
    /* light pink */
    --accent-color: #FFD5C2;
    /* Geel */
    --background-color: #f8f9fa;
    /* Achtergrondkleur */
    --text-color: #000000;
    /* error */
    --error-color: #FF0000;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* footer css */
.main-footer {
    width: 100%;
    text-align: center;
    color: var(#000000);
    background-color: var(--dark-pink-color);
}

.footer-content {
    height: auto;
    width: 100%;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
}

.footer-content-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
}

.footer-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
}

/* dashboard footer css */

.dashboard-main-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: var(--dark-pink-color);
}

.dashboard-footer-content {
    height: auto;
    width: 100%;
}

.form-error {
    color: var(--error-color);
}

.form-title {
    margin-top: 30px;
}

.form-group {
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dashboard-footer-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-footer-content-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-footer-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Basisstijlen voor container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Mediaquery voor kleine schermen */
@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

/* Mediaquery voor middelgrote schermen */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 90%;
        /* Container wordt 90% van de scherm breedte */
    }
}

/* Mediaquery voor grote schermen */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 1100px;
        /* Container wordt aangepast voor grote schermen */
    }
}

/* Mediaquery voor extra grote schermen */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        /* Container behoudt maximale breedte voor extra grote schermen */
    }
}

/* Mediaquery voor extra grote schermen */
@media (min-width: 1200px) and (max-width: 1439px) {
    .container {
        max-width: 1200px;
        /* Container behoudt maximale breedte voor extra grote schermen */
    }
}

/* werknemers media query's */
.werknemers-img-box {
    display: flex;
    justify-content: center;
    height: 200px;
}

.werknemers-img {
    border-radius: 10px;
    height: 200px;
}

.algemene-info-grid {
    display: grid;
    align-items: center;
}

.algemene-info {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 15px;
}

.info-text {
    width: auto;
}

/* Mediaquery voor kleinere schermen */
@media (max-width: 767px) {
    .werknemers-img-box {
        height: 200px;
        /* Aangepaste hoogte voor kleinere schermen */
    }

    .werknemers-img {
        height: 200px;
        /* Aangepaste hoogte voor kleinere schermen */
    }
}

/* Mediaquery voor middelgrote schermen */
@media (min-width: 768px) and (max-width: 991px) {
    .werknemers-img-box {
        height: 250px;
        /* Aangepaste hoogte voor middelgrote schermen */
    }

    .werknemers-img {
        height: 250px;
        /* Aangepaste hoogte voor middelgrote schermen */
    }

    /* Pas de grid-template-columns aan zodat items onder elkaar staan */
    .algemene-info-grid {
        grid-template-columns: 1fr;
    }
}

/* Mediaquery voor grote schermen */
@media (min-width: 992px) and (max-width: 1199px) {
    .werknemers-img-box {
        height: 350px;
        /* Aangepaste hoogte voor grote schermen */
    }

    .werknemers-img {
        height: 350px;
        /* Aangepaste hoogte voor grote schermen */
    }

    /* Pas de grid-template-columns aan zodat items naast elkaar staan */
    .algemene-info-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mediaquery voor extra grote schermen */
@media (min-width: 1200px) {
    .werknemers-img-box {
        height: 450px;
        /* Aangepaste hoogte voor extra grote schermen */
    }

    .werknemers-img {
        height: 450px;
        /* Aangepaste hoogte voor extra grote schermen */
    }

    /* Pas de grid-template-columns aan zodat items naast elkaar staan */
    .algemene-info-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* aanbod media query's */
.aanbod-box-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aanbod-box-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

/* Mediaquery voor kleinere schermen */
@media (min-width: 500px) {
    .aanbod-box-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 kolommen op middelgrote schermen */
    }
}

/* Mediaquery voor middelgrote schermen */
@media (min-width: 768px) and (max-width: 991px) {
    .aanbod-box-grid {
        grid-template-columns: repeat(3, 1fr);
        /* 2 kolommen op middelgrote schermen */
    }
}

/* Mediaquery voor grote schermen */
@media (min-width: 992px) and (max-width: 1199px) {
    .aanbod-box-grid {
        grid-template-columns: repeat(3, 1fr);
        /* 3 kolommen op grote schermen */
    }
}

/* Mediaquery voor extra grote schermen */
@media (min-width: 1200px) and (max-width: 1439px) {
    .aanbod-box-grid {
        grid-template-columns: repeat(6, 1fr);
        /* 4 kolommen op extra grote schermen */
    }
}

/* Mediaquery voor zeer grote schermen */
@media (min-width: 1440px) {
    .aanbod-box-grid {
        grid-template-columns: repeat(6, 1fr);
        /* 5 kolommen op zeer grote schermen */
    }
}

/* nav bar */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-pink-color);
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px 10px 15px;
    background-color: var(--dark-pink-color);
    border-radius: 5px;
}

.nav-content-left {
    display: flex;
    align-items: center;
}

.nav-content-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-links {
    color: var(--light-pink-color);
    text-decoration: none;
    margin-right: 10px;
    transition: .5s;
    font-size: 20px;
}

.nav-links-hidden {
    text-decoration: none;
    color: var(--light-pink-color);
}

.nav-links:hover {
    text-decoration: underline;
}

.nav-links.active {
    color: var(--accent-color);
    text-decoration: underline;
}


.afspraak-maken-btn {
    border: 1px solid var(--light-pink-color);
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: var(--dark-pink-color);
    text-decoration: none;
    color: var(--light-pink-color);
    transition: 1s;
    font-size: 20px;
}

.afspraak-maken-btn:hover {
    border: 1px solid var(--pink-color);
    background-color: var(--light-pink-color);
    color: var(--pink-color);
}

/* Grid container dashboard */
.dashboard-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 29px;
    padding: 0px 0px 0px 20px;
    width: 200px;
    height: 392px;
}

.dashboard-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.dashboard_link a {
    list-style: none;
    color: #000000;
    text-decoration: none;
}

.dashboard-content {
    margin: 29px 25px 29px 25px;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-items {
    margin: 10px 25px 0px 25px;
}

/* Grid systeem dashboard content */
.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.planning-box {
    display: flex;
    justify-content: center;
}

.gegevens-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;
    border: 1px solid grey;
    border-radius: 10px;
}

/* klanten dashboard */
.klanten-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.klanten-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* Afstand tussen de items aanpassen naar wens */
    margin-bottom: 20px;
    /* Verticale afstand tussen de rijen aanpassen naar wens */
}

.klanten-label {
    font-weight: bold;
}

/* afspraken css */
.afspraken-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.right-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* home page */
.home-content {
    display: flex;
    flex-direction: column;
}

.home-afspraak-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.home-afspraak-title {
    color: var(--pink-color);
    margin: 40px 0px 0px 0px;
}

.home-afspraak-text {
    color: var(--pink-color);
    margin: 10px 0px 30px 0px;
    width: 500px;
}

.home-uitleg-content {
    display: flex;
    justify-content: center;
}


.title-slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: #D87E98;
    font-size: 30px;
    margin: 30px 0px 0px 0px;
}

.slogan {
    color: #D87E98;
    font-size: 20px;
    margin: 10px 0px 40px 0px;

}

.home-btn {
    border: 1px solid var(--light-pink-color);
    background-color: var(--pink-color);
    color: var(--light-pink-color);
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    transition: .5s;
    margin: 40px 0px 40px 0px;
    font-size: 20px;

}

.home-btn:hover {
    border: 1px solid var(--pink-color);
    background-color: var(--light-pink-color);
    color: var(--pink-color);
}

.nav-link-aanbod {
    color: var(--pink-color);
    text-decoration: none;
    transition: .5s;
}

.nav-link-aanbod:hover {
    color: var(--dark-pink-color);
    text-decoration: underline;
}

.aanbod-image {
    height: 110px;
    border-radius: 10px;
}

.aanbod-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.aanbod-title {
    color: var(--pink-color);
    margin: 20px 0px 10px 0px;
}

.aanbod-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border: 1px solid var(--pink-color);
    border-radius: 10px;
    width: 180px;
}

/* about */
/* Mediaquery voor kleinere schermen */
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
    padding: 10px;
}

@media (min-width: 300px) and (max-width: 767px) {
    .about-grid {
        grid-template-columns: 1fr;
    }
}

/* Mediaquery voor middelgrote schermen */
@media (min-width: 768px) and (max-width: 991px) {
    .about-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mediaquery voor grote schermen */
@media (min-width: 992px) and (max-width: 1199px) {
    .about-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mediaquery voor extra grote schermen */
@media (min-width: 1200px) and (max-width: 1439px) {
    .about-grid {
        grid-template-columns: 1fr 1fr;
    }

}

/* Mediaquery voor zeer grote schermen */
@media (min-width: 1440px) {
    .about-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.about-werknemer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.about-image {
    height: 425px;
    border-radius: 10px;
}

/* main dashboard styling */

.nav-list {
    list-style-type: none;
    padding: 0;
}

.dashboard-link {
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: var(--dark-pink-color);
    border-radius: 10px;
}

.dashboard-link.active {
    color: var(--light-pink-color);
    background-color: var(--dark-pink-color);
    margin-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dashboard-link.active:hover {
    background-color: var(--light-pink-color);
    color: var(--dark-pink-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dashboard-link a {
    color: var(--light-pink-color);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
}

.dashboard-link a:hover {
    background-color: var(--light-pink-color);
    color: var(--dark-pink-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.aanwezige-werknemers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 25px 0px 25px;
}

.klanten-vandaag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 90%;
}

.geen-activiteit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 10px 25px 0px 25px;
    border: 1px solid grey;
    border-radius: 10px;
}

/* table styling */
.aanwezige-werknemers-table {
    border-collapse: collapse;
    width: 100%;
}

.aanwezige-werknemers-table th,
.aanwezige-werknemers-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.aanwezige-werknemers-row:nth-child(even) {
    background-color: #f2f2f2;
}

.fc-time-grid .fc-slats td {
    background-color: rgba(233, 233, 233, 0.5);
}

.booking-content {
    margin-top: 30px;
}

.button-box {
    display: flex;
    justify-content: space-between;

}

.delete-button {
    background-color: var(--dark-pink-color);
    border: 1px solid var(--light-pink-color);
    color: var(--light-pink-color);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    transition: .5s;
}

.delete-button:hover {
    background-color: var(--light-pink-color);
    border: 1px solid var(--dark-pink-color);
    color: var(--dark-pink-color);
}

.update-button {
    background-color: var(--dark-pink-color);
    border: 1px solid var(--light-pink-color);
    color: var(--light-pink-color);
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    transition: .5s;
}

.update-button:hover {
    background-color: var(--light-pink-color);
    border: 1px solid var(--dark-pink-color);
    color: var(--dark-pink-color);
}

.add-button-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding-right: 9px;
}

.add-button {
    background-color: var(--dark-pink-color);
    border: 1px solid var(--light-pink-color);
    color: var(--light-pink-color);
    text-decoration: none;
    border-radius: 10px;
    width: 262px;
    height: 35px;
    padding: 5px 10px 5px 10px;
    transition: .5s;
}

.add-button:hover {
    background-color: var(--light-pink-color);
    border: 1px solid var(--dark-pink-color);
    color: var(--dark-pink-color);
}

.info-link {
    color: var(--dark-pink-color);
    text-decoration: none;
}

.info-link:hover {
    color: var(--light-pink-color);
}


/* font */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}